extends ../layout/main

block variables
   - var title = 'TESTPAGE';
   - var description = 'pageDescription';
   - var pageClass = 'testPage2';

block content

   .first
      h2 Small step for one individual
      h3 whatever, imma be lazy
      a(href='index.html') главная

